<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://www.spfort.com/assets/doctors/doc_1767094574.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Lorem ipsum dolor</h5>
                  <p class="card-text">senior consultant</p>
                  <a href="#" class="btn btn-success">make an appointment</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://www.spfort.com/assets/doctors/doc_2082923449.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor </h5>
                  <p class="card-text">senior consultant</p>
                  <a href="#" class="btn btn-success">make an appointment</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://www.spfort.com/assets/doctors/doc_576611420.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor</h5>
                  <p class="card-text">senior consultant</p>
                  <a href="#" class="btn btn-success">make an appointment</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://www.spfort.com/assets/doctors/doc_693605962.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor</h5>
                  <p class="card-text">senior consultant</p>
                  <a href="#" class="btn btn-success">make an appointment</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://www.spfort.com/assets/doctors/doc_422972470.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor</h5>
                  <p class="card-text"senior consultant></p>
                  <a href="#" class="btn btn-success">make an appointment</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://www.spfort.com/assets/doctors/doc_1730326434.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor</h5>
                  <p class="card-text">senior consultant</p>
                  <a href="#" class="btn btn-success">make an appointment</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://www.spfort.com/assets/doctors/doc_664308684.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor</h5>
                  <p class="card-text">senior consultant</p>
                  <a href="#" class="btn btn-success">make an appointment</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://www.spfort.com/assets/doctors/doc_1332271826.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor</h5>
                  <p class="card-text">senior consultant</p>
                  <a href="#" class="btn btn-success">make an appointment</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://www.spfort.com/assets/doctors/doc_633808593.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor</h5>
                  <p class="card-text">senior consultant</p>
                  <a href="#" class="btn btn-success">make an appointment</a>
                </div>
              </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card" >
                <img src="https://www.spfort.com/assets/doctors/doc_257611672.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem ipsum dolor</h5>
                  <p class="card-text">senior consultant</p>
                  <a href="#" class="btn btn-success">make an appointment</a>
                </div>
              </div>
        </div>


    </div>
</div>

